@model PQGD.Models.PhanQuyen

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PhanQuyen</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id_giaovien" class="control-label"></label>
                <select asp-for="id_giaovien" class ="form-control" asp-items="ViewBag.id_giaovien"></select>
            </div>
            <div class="form-group">
                <label asp-for="id_lop" class="control-label"></label>
                <select asp-for="id_lop" class ="form-control" asp-items="ViewBag.id_lop"></select>
            </div>
            <div class="form-group">
                <label asp-for="id_monhoc" class="control-label"></label>
                <select asp-for="id_monhoc" class ="form-control" asp-items="ViewBag.id_monhoc"></select>
            </div>
            <div class="form-group">
                <label asp-for="id_hocky" class="control-label"></label>
                <select asp-for="id_hocky" class ="form-control" asp-items="ViewBag.id_hocky"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
